.example-spacer {
  flex: 1 1 auto;
}


.example-container {
  height: 100%;
}

.sidebar {
  width: 400px;
}


.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  font-size: large;
}
