.movie-card {
  width: 200px;
  margin: 10px;
}

.overlay{
  cursor: pointer;
  -webkit-transition: width 0.45s ease;
  transition: width 0.45s ease;
}

.overlay:hover{
  width: 210px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
